localização css

#feed-localizacao {
    padding: 0;
    margin: 0;
    height: 100vh;
}

#mapa-header {
    color: white;
    padding: 15px;
    text-align: center;
}

#mapa-header .botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#mapa-header input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#mapa-header button {
    background: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#mapa {
    width: 100%;
    height: calc(100vh - 90px);
}