@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(90deg, black, purple);
}

h2{
    padding-bottom: 5px;
}

h3{
    color: white;
}

/* SIDEBAR */
.sidebar {
    width: 80px;
    background-image: linear-gradient(90deg, black, transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar svg {
    width: 40px;
    height: 40px;
    margin: 20px 0;
    cursor: pointer;
    fill: white;
    transition: 0.2s;
}

.sidebar svg:hover {
    transform: scale(1.15);
    fill: purple;
}

/* FEEDS */
.feed {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
}

/* POSTS */
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
}

.post {
    background: #80008036;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.post:hover {
    transform: scale(1.05);
}

.post img {
    width: 100%;
    display: block;
}

.post-info {
    padding: 10px;
    text-align: center;
}

.post-info h3 {
    margin-bottom: 4px;
    font-size: 1rem;
}

.post-info p {
    font-size: 0.85rem;
    color: #ccc;
}

.config-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.configurações{
    color: white;
}

.img_Bt{
    width: 30px;
}

.botoes_config{
    display: flex;
    gap: 5px;
    align-items: center;
    color: black;
    font-size: 16px;
    padding: 8px;
    background-color: rgb(226, 226, 226);
    border-radius: 16px;
    width: fit-content;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
}

.botoes_config:hover {
    transform: scale(1.05);
}